@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap');

:root{
    --dark-color:#292830;
    --kerakli-rang: #FF7235;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", "sanf-serif";
}
.container{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/* ------------nav qismi boslanishi--------------------------- */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo>span{
    font-size: 23px;
    font-weight: 500;
    color:var(--dark-color) ;
}
.nav-list{
    list-style: none;
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.nav-list-items{
font-size: 18px;
font-weight: 400;
}
.nav-request-btn{
    color: #FF7235;
    border-radius: 8px;
    border: 1px solid #FF7235;
    background-color: transparent;
    padding: 15px 17px 16px 18px;
    font-size: 18px;
    font-weight: 400;
}
.nav-list-items>a{
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-color);
}
.nav-list-items>a:hover{
    color: #FF7235;
    transition: 0.5s;
}
.nav-request-btn:hover{
    cursor: pointer;
    background-color: #FF7235;
    color: var(--dark-color);
    transition: 0.5s ease-in;
}
/* ------------nav qismi tugashi---------------- */


/* -----------------------header botom qismi boshlanishi---------------- */
.header-bottom{
    margin-top: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom-text>h1{
font-size: 96px;
font-weight: 700;
line-height: 96px;
}
.header-bottom-text>p{
font-size: 24px;
font-weight: 400;
line-height: 38.81px;
text-align: left;
color:  #BDBDBD;
margin: 20px 0px 40px 0px;
}
.try-free-box>select{
    padding: 18px 24px;
    border-radius: 8px;
    background: orangered;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
}
.try-free-box span{
color: #BDBDBD;;
font-size: 24px;
font-weight: 400;
line-height: 38.81px;
}
.try-free-box{
    display: flex;
    align-items: center;
    gap: 24px;
}


/* -------------------header bottom qismi tugashi------------------- */

.overview{
    background-color:#FF7235 ;
}
.img-overview{
    margin: 87px 0px 0px 0px;

}